DoGiaKhiem/UserManagment.API/.vs/UserManagment/CopilotIndices/17.14.1368.60722/CodeChunks.db
DoGiaKhiem/UserManagment.API/.vs/UserManagment/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
DoGiaKhiem/UserManagment.API/.vs/UserManagment/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
DoGiaKhiem/UserManagment.API/.vs/UserManagment/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
DoGiaKhiem/UserManagment.API/.vs/UserManagment/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
DoGiaKhiem/UserManagment.API/.vs/UserManagment/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
DoGiaKhiem/UserManagment.API/.vs/UserManagment/FileContentIndex/75516923-7366-4f5e-8877-dae4521ff466.vsidx
DoGiaKhiem/UserManagment.API/.vs/UserManagment/FileContentIndex/d0f106fe-4938-4e13-bb7f-1a0e57bb613d.vsidx
